{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/modal.twig' %}
{% endblock %}

{% block content %}
  {# ----------------- Hero Unit ----------------- #}
  {% include 'components/hero.twig' %}

  {# ----------------- Prospective Section ----------------- #}
  {% include 'components/prospective.twig' %}

  {# -------------- Stream Section ------------ #}
  <section class="welcome">
    <h2 class="Lead Lead--section brand center">{{__('For Christ, For the Church, For the world, For the Glory of God', 'saat')}}</h2>
    <hr>
    <div class="container container--nopadding">
      <div class="Twin">
        <a href="#" class="Twin-box welcome-box" data-component="modal">
          <video poster="{{site.theme.uri}}/poster.jpg" class="welcome-video" preload="auto" aria-label="Welcome to SAAT" playsinline autoplay muted loop>
            <source src="{{site.theme.uri}}/welcome.webm" type="video/webm">
            <source src="{{site.theme.uri}}/welcome.mp4" type="video/mp4">
          </video>
          <div class="Twin-content welcome-content">
            <svg aria-hidden="true" role="presentation" title="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
            </svg>
            <div class="welcome-quote">
              <h4 class="center">{{welcome.quote}}</h4>
              <p class="center caps">{{welcome.byline}}</p>
            </div>
          </div>
          <div class="welcome-poster lazyload" data-bgset="{{site.theme.uri}}/poster.jpg"></div>
        </a>

        <div class="Twin-frame Twin">
          <a href="{{news_events.first.link}}" class="Twin-box lazyload" data-bgset="{{news_events.first.image[small]}} 1x, {{news_events.first.image[medium]}} 2x">
            <div class="Twin-content">
              <div>
                {% if news_events.first.type == 'event' %}
                  <span class="Pill">{{__('Event', 'saat')}}</span>
                {% else %}
                  <span class="Pill">{{__('News', 'saat')}}</span>
                {% endif %}
              </div>
              <div>
                <h4 class="h3 Lead white">{{news_events.first.title}}</h4>
                <span class="white">{{news_events.first.date|date('j M Y')}}</span>
              </div>
            </div>
          </a>

          <div class="Twin-box welcome-control lazyload" data-bgset="https://c2.staticflickr.com/6/5642/30336427552_0e75356f7f.jpg">
            <div class="Twin-content">
              <p class="white">{{__('Browse all of our news and events', 'saat')}}</p>
              <a href="{{site.url}}/events/" class="Button Button--block Button--light">{{__('See Events', 'saat')}}</a>
              <a href="{{site.url}}/news/" class="Button Button--block Button--light">{{__('See News', 'saat')}}</a>
            </div>
          </div>

          {% for post in news_events.rest %}
            <a href="{{post.link}}" class="Twin-box lazyload" data-bgset="{{post.image[small]}} 1x, {{post.image[medium]}} 2x">
              <div class="Twin-content">
                <div>
                  {% if post.type == 'event' %}
                    <span class="Pill">{{__('Event', 'saat')}}</span>
                  {% else %}
                    <span class="Pill">{{__('News', 'saat')}}</span>
                  {% endif %}
                </div>
                <div>
                  <h4 class="h3 Lead white">{{post.title}}</h4>
                  <span class="white">{{post.date|date('j M Y')}}</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>

    <div class="Twin">
      <div class="Twin-frame Twin">
        {% for post in custom_posts %}
          <a href="{{post.link}}" class="Twin-box lazyload" data-bgset="{{post.image[small]}} 1x, {{post.image[medium]}} 2x">
            <div class="Twin-content">
              <div>
                {% if post.type == 'page' %}
                  <span class="Pill">{{post.parent.title|title}}</span>
                {% elseif post.type == 'event' %}
                  <span class="Pill">{{__('Event', 'saat')}}</span>
                {% elseif post.type == 'resource' %}
                  <span class="Pill">{{__('Media', 'saat')}}</span>
                {% else %}
                  <span class="Pill">{{__('News', 'saat')}}</span>
                {% endif %}
              </div>
              <div>
                <h4 class="h3 Lead white">{{post.title}}</h4>
                {% if post.type == 'page' %}
                  <span class="white">{{__('Read More', 'saat')}}</span>
                {% else %}
                  <span class="white">{{post.date|date('j M Y')}}</span>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}

        <div class="Twin-box welcome-control welcome-control--custom lazyload" data-bgset="{{control_cta.image[small]}} 1x, {{control_cta.image[medium]}} 2x">
          <div class="Twin-content">
            <p class="white">{{control_cta.description}}</p>
            {% for button in control_cta.buttons %}
              {% if button.type == "single" %}
                {% set url = button.single_url %}
              {% elseif button.type == "external" %}
                {% set url = button.external_url %}
              {% else %}
                {% set url = button.search_url %}
              {% endif %}
              <a href="{{url}}" class="Button Button--block Button--light">{{button.label}}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="Twin-box welcome-secondaryBox lazyload" data-bgset="{{media.image[medium]}} 1x, {{media.image[xlarge]}} 2x">
        <div class="Twin-content">
          <div><span class="Pill">
            <svg aria-hidden="true" role="presentation" title="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{media.type}}"></use>
            </svg>
            {{media.name}}
          </span></div>
          <div>
            <h3 class="white">{{media.title}}</h3>
            <p class="white">{{media.teaser}}</p>
            <a href="{{media.link}}" class="Button Button--outline Button--outline-light">{{__('View Media', 'saat')}}</a>
            <a href="{{media.archive}}" class="Button Button--light">{{__('See Media Library', 'saat')}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# ----------------- Blocks Area ----------------- #}
  {% include 'components/home-blocks.twig' %}
{% endblock %}
