{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/media-object.twig' %}
{% endblock %}

{% block content %}
  <div class="container ArchiveEvent" data-component="event" data-options='{ "domain": "{{site.url}}", "ppp": "{{ppp}}", "label": "{{label|title}}", "categories": {{categories_json}} }'>
    <div class="ArchiveEvent-content">
      {% include 'components/loader.twig' %}

      <h3 class="Lead">September 2016</h3>
      <div class="ArchiveEvent-result"></div>
      <!-- <div class="Pagination">
        <span class="Pagination-label">Page</span>
        <ul class="Pagination-pages List List--inline"></ul>
      </div> -->
    </div>
    <div class="ArchiveEvent-sidebar Sidebar">
      <h3 class="Lead">Find Events</h3>

      <div class="ArchiveEvent-sidebarSection">
        <h5>Date</h5>
        <div class="Datepicker" data-component="datepicker"></div>
      </div>

      <div class="ArchiveEvent-sidebarSection">
        <h5>Categories</h5>
        <ul class="List">
          {% for category in categories %}
            <div class="Pill" data-category-id="{{category.id}}">{{category}}</div>
          {% endfor %}
        </ul>
      </div>



      <!-- {% include 'layout/sidebar-base.twig' %} -->
    </div>
  </div>
{% endblock %}
