{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/media-object.twig' %}
{% endblock %}

{% block content %}
<h2 class="Lead Lead--section brandColor container">Featured Events</h2>
<div class="FeaturedEvents wrapper wrapper--narrow">
  <div class="FeaturedEvents-carousel" data-component="gallery">
    {% for event in featured_events %}
      {% if event.image[xxlarge] %}
        <div class="FeaturedEvents-image" data-flickity-bg-lazyload="{{event.image[xxlarge]}}"></div>
      {% else %}
        <div class="FeaturedEvents-image" data-flickity-bg-lazyload="{{event.image[original]}}"></div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="FeaturedEvents-body">
    <div class="FeaturedEvents-nav">
      <a class="FeaturedEvents-navItem Flickity-prev" href="">
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-left"></use>
        </svg>
      </a>
      <a class="FeaturedEvents-navItem Flickity-next" href="">
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-right"></use>
        </svg>
      </a>
    </div>
    {% for event in featured_events %}
      <div class="FeaturedEvents-content" data-content-id="{{loop.index0}}">
        <span class="caps">{{event.category}}</span>
        <h3 class="brandColor">{{event.title}}</h3>
        <div class="FeaturedEvents-meta">
          <div class="meta">
            <svg aria-hidden="true" role="presentation" title="Event Date">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
            </svg>{{event.date}}
          </div>
          {% if event.location %}
            <div class="meta">
              <svg aria-hidden="true" role="presentation" title="Event Date">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location"></use>
              </svg>{{event.location}}
            </div>
          {% endif %}
        </div>
        {% if event.description %}
          <p class="Lead">{{event.description|slice(0,250)~'...'}}</p>
        {% endif %}
        <a href="" class="Button Button--outline-dark">See Event</a>
      </div>
    {% endfor %}
  </div>
</div>


<div class="container">
  <h2 class="Lead Lead--section brandColor">Upcoming Events</h2>
  <div class="ArchiveEvent" data-component="event" data-options='{ "domain": "{{site.url}}", "ppp": "{{ppp}}", "label": "{{label|title}}", "categories": {{categories_json}} }'>
    <div class="ArchiveEvent-content">
      {% include 'components/loader.twig' %}
      <div class="ArchiveEvent-result"></div>
      <div class="Pagination Pagination--hidden Pagination--hidePrevNext">
        <a href="" class="Pagination-prev">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use>
          </svg>Prev
        </a>
        <ul class="Pagination-pages List List--inline"></ul>
        <a href="" class="Pagination-next">Next
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="ArchiveEvent-sidebar Sidebar">
      <h3 class="Lead">Filter Events</h3>
      <div class="ArchiveEvent-sidebarSection">
        <h5>By Date</h5>
        <a href="" class="Button Button--utility Datepicker-clear">Clear Date</a>
        <div class="Datepicker"></div>
      </div>
      <div class="ArchiveEvent-sidebarSection">
        <h5>By Keywords</h5>
        <input type="text" placeholder="Search events or keywords" tabindex="1">
      </div>
      <div class="ArchiveEvent-sidebarSection">
        <h5>By Categories</h5>
        <a href="" class="Button Button--utility Pill-clear">Clear All</a>
        <ul class="List" data-component="pill">
          {% for id, category in categories %}
            <div class="Pill Pill--pointer Pill--inactive" data-category-id="{{id}}" data-category-slug="{{category.slug}}" style="background-color: {{category.color}};">{{category.name}}</div>
          {% endfor %}
        </ul>
      </div>
      <a href="" class="ArchiveEvent-search Button Button--block Button--large">Search</a>
      <!-- {% include 'layout/sidebar-base.twig' %} -->
    </div>
  </div>
</div>
{% endblock %}
