<footer class="Footer-wrapper wrapper lazyload" data-bgset="
  {{footer_bg[xlarge]}} [(min-width: {{lg}})] |
  {{footer_bg[medium]}}">

  <div class="Footer container">
    <div class="Footer-top">
      <ul class="List List--inline">
        {% for parent in footer.parents %}
          <li>
            <a href="{{parent.link}}" class="Footer-heading">{{parent.title}}</a>
            <ul class="List-sublist">
              {% for child in parent.children %}
                <li><a href="{{child.link}}">{{child.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        <li>
          {% for single in footer.singles %}
            <a href="{{single.link}}">{{single.title}}</a>
          {% endfor %}
        </li>
      </ul>
    </div>
    <div class="Footer-bottom">
      <div class="Footer-logo">
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-footer"></use>
        </svg>
      </div>

      {% for contact in org.contacts %}
        <address class="Footer-contact">
          <h5 class="Footer-heading">{{contact.name}}</h5>
          <p>{{contact.details}}</p>
        </address>
      {% endfor %}

    </div>
  </div>

  <div class="legal">
    <div class="container">
      <div>
        <span class="legal-copy">© {{"now"|date('Y')}} {{org.name}}</span>
        <span>●</span>
        <a href="{{policy}}">Privacy Policy</a>
      </div>
      <!-- <div class="legal-languages">
        Languages:
        {% for language in languages %}
          <a href="{{language.url}}" class="legal-language">{{language.code|upper}}</a>
        {% endfor %}
      </div> -->
    </div>
  </div>

</footer>
