{% if locale == 'id_ID' %}
  {% set language = 'id' %}
{% elseif locale == 'en_US' %}
  {% set language = 'en' %}
{% else %}
  {% set language = 'zh' %}
{% endif %}

<header class="Header">

<div class="SearchBar">
  <form class="SearchBar-form container" role="form" action="{{site.url}}/search/results" accept-charset="UTF-8" method="get">
    <input class="SearchBar-input" id="SearchBar-input" type="text" name="q" autocomplete="off">
    <label class="SearchBar-label" for="SearchBar-input">Search events, media or keywords</label>
  </form>
</div>

<nav class="Header-secondaryNav" role="navigation">
  <ul class="List List--inline">
    {% for item in secondary_menu %}
      <li><a href="{{item.link}}" class="Header-secondaryNavLink">{{item.title}}</a></li>
    {% endfor %}
  </ul>
  <a class="Header-search" href="">
    <svg aria-hidden="true" role="presentation" title="{{__('Search Our Website', 'saat')}}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
    </svg>
  </a>
  {% for name, link in social %}
    {% if link %}
    <a class="Header-social" href="{{link}}">
      <svg aria-hidden="true" role="presentation" title="{{name}}">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{name}}"></use>
      </svg>
    </a>
    {% endif %}
  {% endfor %}
  <div class="Header-languages">
    <span class="caps brand">{{language|upper}}</span>
    <svg aria-hidden="true" role="presentation" title="Select Language">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use>
    </svg>
    <div class="Header-languagesDropdown">
      <a href="{{languages.id}}" class="Header-languagesLink caps brand">ID</a>
      <a href="{{languages.en}}" class="Header-languagesLink caps brand">EN</a>
      <a href="{{languages.zh}}" class="Header-languagesLink caps brand">ZH</a>
    </div>
  </div>
</nav>

<nav class="Dropdown" role="navigation">
  <a href="{{site.url}}" class="Dropdown-logo">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-srcset="{{logo.normal[original]}} 1x, {{logo.retina[original]}} 2x" alt="{{site.title}}" />
  </a>
  <div class="Dropdown-menu">
    {% for parent in primary_menu %}
      <div class="Dropdown-menuItem">
        {% if parent.link in current_url %}
          {% set is_active = ' is-Active' %}
        {% else %}
          {% set is_active = '' %}
        {% endif %}
        <a href="{{parent.link}}" class="Dropdown-link {{is_active}}">{{parent.title}}</a>
        {% if parent.children or parent.singles %}
        <div class="Dropdown-panel">
          <div class="Dropdown-panelWrapper">
            <div class="Dropdown-panelLeft">
              {% if parent.singles %}
              <div class="Dropdown-panelContainer">
                <div class="List Dropdown-singleLinks">
                  {% for single in parent.singles %}
                    <a href="{{single.link}}" class="Dropdown-singleLink caps">{{single.title}}</a>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              {% if parent.children %}
                <div class="Dropdown-panelContainer">
                  {% for child in parent.children %}
                    <div class="List">
                      <a href="{{child.link}}" class="caps">{{child.title}}</a>
                      {% if child.grandchildren %}
                        <ul class="List-sublist">
                          {% for grandchild in child.grandchildren %}
                            <li><a href="{{grandchild.link}}">{{grandchild.title}}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="Dropdown-panelRight">
              {% include 'components/blocks.twig' with {'data': {'blocks': parent.blocks}} %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="Dropdown-audience">
    <a class="Button Dropdown-audienceButton">{{audience_label}}
      <svg aria-hidden="true" role="presentation" title="Select Language">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use>
      </svg>
    </a>
    <div class="Dropdown-audienceDropdown">
      {% for link in audience_links %}
        <h5><a href="{{link.url}}" class="Dropdown-audienceLinks">{{link.text}}</a></h5>
      {% endfor %}
    </div>
  </div>
</nav>

<nav class="MobileNav" role="navigation" data-component="mobile-nav">
  <a href="{{site.url}}" class="MobileNav-mark">
    <svg aria-hidden="true" role="presentation" title="">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mark"></use>
    </svg>
  </a>
  <div class="MobileNav-right">
    <a href="" class="MobileNav-search">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
      </svg>
    </a>
    <a href="" class="MobileNav-burger">
      <div class="Burger">
        <div class="Burger-box">
          <div class="Burger-inner"></div>
        </div>
      </div>
    </a>
  </div>
</nav>

<div class="MobilePanel">
  <div class="MobilePanel-primary">
    {% for item in primary_menu %}
      <a href="{{item.link}}" class="MobilePanel-link Lead">{{item.title}}</a>
    {% endfor %}
  </div>
  <div class="MobilePanel-secondary">
    <div class="MobilePanel-quicklinks">
      <h5 class="tag brand">{{__('Quicklinks', 'saat')}}</h5>
      {% for item in secondary_menu %}
        <h5><a href="{{item.link}}">{{item.title}}</a></h5>
      {% endfor %}
    </div>
    <div class="MobilePanel-quicklinks">
      <h5 class="tag brand">{{audience_label}}</h5>
      {% for link in audience_links %}
        <h5><a href="{{link.url}}">{{link.text}}</a></h5>
      {% endfor %}
    </div>
  </div>

  <div class="MobilePanel-blocks">
    {% include 'components/blocks.twig' with {'data': {'blocks': mobile_blocks}} %}
  </div>

  <div class="MobilePanel-social">
    <h5 class="tag center">Social</h5>
    {% for name, link in social %}
      {% if link %}
      <a href="{{link}}" class="MobilePanel-socialLink">
        <svg aria-hidden="true" role="presentation" title="{{name}}">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{name}}"></use>
        </svg>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

</header>
