{% extends "base.twig" %}

{% block content %}
  <div class="container SingleNews">
    <div class="SingleNews-content {{'container'|modifiers("text")}}">
      <div class="SingleNews-date">{{post.date}}</div>
      <h1 class="h2 brand">{{post.title}}</h1>
      {% if acf.teaser %}
        <h3 class="Lead">{{acf.teaser}}</h3>
      {% endif %}
      <div class="SingleNews-metaWrapper">
        <div class="SingleNews-meta">
          {% if authors %}
            <div class="meta">
              <span>{{authors}}</span>
            </div>
          {% endif %}
          {% if topic %}
            <div class="meta meta--icon">
              <span class="meta-dot">&#8226;</span>
              <svg aria-hidden="true" role="presentation" title="News Date">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tag"></use>
              </svg>
              <a href="{{site.url ~ '/news/?utf8=%E2%9C%93&page=1&topic=' ~ topic.slug}}">{{topic.name}}</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="SingleNews-share">
        <h3 class="Lead brand">
          {{__('Share this news', 'saat')}}
        </h3>
        {% include 'components/social-share.twig' %}
      </div>
      {% if acf.image %}
        <div class="SingleNews-image">
          {% set image = acf.image %}
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            {# Desktops - load 1024px #}
            <source media="(min-width: {{lg}})" data-srcset="{{image[xlarge]}}">
            {# Tablets - load 800px #}
            <source media="(min-width: {{md}}) and (min-height: {{tall}})" data-srcset="{{image[large]}}">
            {# Landscape phones - load 640px #}
            <source media="(min-width: {{sm}}) and (max-height: {{tall}})" data-srcset="{{image[medium]}}">
            {# Portrait phones - load 320px #}
            <source media="(max-width: {{sm}}) and (max-height: {{short}})" data-srcset="{{image[small]}}">
            <!--[if IE 9]></video><![endif]-->
            {# Fallback with transparent LQIP #}
            <img alt="{{image.title}}" class="lazyload" data-src="{{image[medium]}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
          </picture>
        </div>
      {% endif %}
      {% include 'layout/base.twig' %}
    </div>
    <div class="SingleNews-sidebar Sidebar">
      <div class="Sidebar-section">
        <h3 class="Sidebar-sectionHeading Lead brand">
          {{__('Share this news', 'saat')}}
        </h3>
        {% include 'components/social-share.twig' %}
      </div>
      {% include 'layout/sidebar-base.twig' %}
    </div>
  </div>
{% endblock %}
