{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/card-object.twig' %}
{% endblock %}

{% block content %}

{# ----------------- Media Archive ----------------- #}
<h2 class="Lead Lead--section brand container ArchiveMedia-heading">{{__('Media Library', 'saat')}}</h2>

<div class="ArchiveMedia container" data-component="media" data-options='{ "domain": "{{site.url}}", "ppp": "{{ppp}}", "label": "{{label|title}}", "types": {{types_json}}, "categories": {{categories_json}}, "locale": "{{site.language}}" }'>

  <!-- <div class="ArchiveMedia-preferences" data-component="toc">
    <svg aria-hidden="true" role="presentation" title="Select Language">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#settings"></use>
    </svg>
    <span class="caps brand">{{__('Show Filters', 'saat')}}</span>
  </div> -->
  <div class="ArchiveMedia-content">
    {% include 'components/loader.twig' %}
    <div class="ArchiveMedia-result"></div>
    <div class="Pagination Pagination--hidden Pagination--hidePrevNext">
      <a href="" class="Pagination-prev">
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use>
        </svg>{{__('Prev', 'saat')}}
      </a>
      <ul class="Pagination-pages List List--inline"></ul>
      <a href="" class="Pagination-next">
        {{__('Next', 'saat')}}
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="ArchiveMedia-sidebar Sidebar">
    <h3 class="Lead">{{__('Filter Medias', 'saat')}}</h3>
    <div class="ArchiveMedia-sidebarSection">
      <h5>{{__('Media Type', 'saat')}}</h5>
      <a href="" class="Button Button--utility Pill-clear">{{__('Clear All', 'saat')}}</a>

      <div class="Toggle" data-selected-type="all" data-component="toggle">
        {% for id, type in types %}
          <div class="Toggle-item" data-type-id="{{id}}" data-type-slug="{{type.slug}}">
            <a href="" class="Toggle-link">
              <svg aria-hidden="true" role="presentation" title="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{type.slug}}"></use>
              </svg>
              <p>{{type.name}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="ArchiveMedia-sidebarSection">
      <h5>{{__('Media Categories', 'saat')}}</h5>
      <div class="Select" data-selected-category="all" data-component="select">
        <span>{{__('All Categories', 'saat')|title}}</span>
        <svg aria-hidden="true" role="presentation" title="Select Language">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use>
        </svg>
        <div class="Select-dropdown">
          <a href="" class="Select-item" data-category-slug="all">{{__('All Categories', 'saat')}}</a>
          {% for category in categories %}
            <a href="" class="Select-item" data-category-slug="{{category.slug}}">{{category.name|title}}</a>
          {% endfor %}
        </div>
      </div>

    </div>
    <a href="" class="ArchiveMedia-search Button Button--block Button--large">{{__('Search', 'saat')}}</a>
    <!-- {% include 'layout/sidebar-base.twig' %} -->
  </div>

</div>

{% endblock %}
