<div class="SingleMedia-document">
  <div class="SingleArticle container">
    <div class="SingleArticle-content {{'container'|modifiers("text")}}">
      <div class="SingleMedia-documentBody">

        {# Teaser #}
        {% if acf.teaser %}
        <p class="SingleArticle-teaser">{{acf.teaser}}</p>
        {% endif %}

        {# CTA #}
        <a href="{{acf.file}}" class="Button Button--icon">
          <svg aria-hidden="true" role="presentation" title="{{post.title}}">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#download"></use>
          </svg>{{__('Download', 'saat')}}
        </a>
      </div>
      <div class="SingleMedia-documentCover">
        <div class="SingleMedia-documentFrame lazyload" data-bgset="{{cover[small]}}"></div>
      </div>
    </div>
    <div class="SingleArticle-sidebar Sidebar">
      {% if acf.with_toc %}
      <div class="SingleMedia-documentTOC">
        <h5 class="brand caps">{{__('Table of Contents', 'saat')}}</h5>
        {% for item in acf.toc %}
          <div class="SingleMedia-documentTOCLine">
            <p><strong>{{item.title|title}}</strong></p>
            <p>{{item.authors|title}}</p>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
