{% set image = acf.image %}

<div class="{{'Feed'|modifiers('long, short, narrow')}}">

<section class="Banner Banner--small Banner--textbottom Banner--{{acf.alignment}} lazyload"
data-bgset="
  {{image[xxlarge]}} [(min-width: {{xxl}})] |
  {{image[xlarge]}} [(min-width: {{lg}})] |
  {{image[large]}} [(min-width: {{md}})] |
  {{image[medium]}} [(min-width: {{sm}})] |
  {{image[small]}}"
style="{% if acf.alignment == "custom" %}background-position: center {{acf.custom_alignment}}%;{% endif %}background-image:linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25));">
  <div class="Banner-overlay"></div>
  <div class="container container--max">
    {% include 'components/breadcrumb.twig' with {data: breadcrumb} %}
    <h1 class="Heading--dropshadow">{{post.title|title}}</h1>
  </div>
</section>
