{% set image = acf.image %}

<section class="{{'Banner'|modifiers('large, textbottom, {{acf.alignment}}')}} wrapper--narrow lazyload"
data-bgset="
  {{image[xxlarge]}} [(min-width: {{xxl}})] |
  {{image[xlarge]}} [(min-width: {{lg}})] |
  {{image[large]}} [(min-width: {{md}})] |
  {{image[medium]}} [(min-width: {{sm}})] |
  {{image[small]}}"
style="{% if acf.alignment == "custom" %}background-position: center {{acf.custom_alignment}}%;{% endif %}">
  <div class="Banner-overlay"></div>
  <div class="container container--max">
    <h1>{{post.title|title}}</h1>
  </div>
</section>
