<script id="CardObject" type="x-tmpl-mustache">
{% verbatim %}

{{#error}}
  <h3 class="h4 Lead center ArchiveEvent-error">{{error}}</h3>
{{/error}}
{{#empty}}
  <h3 class="h4 Lead center ArchiveEvent-error">{{empty}}</h3>
{{/empty}}

{{#title}}
<div class="Card-wrapper">
<a href="{{link}}" class="Card">
  <div class="Card-image lazyload" style="border-top: 4px solid {{color}};" data-bgset="{{image}}">
    <div class="Card-meta">
      <div class="caps white">
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{slug}}"></use>
        </svg>{{type}}
      </div>
      <div class="white"><h6>{{date}}</h6></div>
    </div>
  </div>
  <div class="Card-body">
    <h4 class="h5">{{title}}</h4>
    {{#teaser}}
      <p>{{teaser}}</p>
    {{/teaser}}
  </div>
  <div class="Card-footer">
    <div class="Card-footerLeft">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tag"></use>
      </svg>{{category}}
    </div>
    <div class="Card-footerRight brand">
      {{label}}
    </div>
  </div>
</a>
</div>
{{/title}}

{% endverbatim %}
</script>
