{#
  Options: horizontal, vertical, even, callout,
#}

<div class="Card{% include 'utility/generate-classes.twig' with {'component' : 'Card'} %}">
  <a class="Card-image" href="{{data.link}}" style="background-image:url({{data.image}})"></a>
  <div class="Card-body">
    <h4 class="Card-heading"><a href="{{data.link}}">{{data.title}}</a></h4>
    {% if data.authors %}
      <p class="meta">By {{data.author}}</p>
    {% endif %}
    <div class="Card-teaser">{{data.teaser}}</div>
  </div>
</div>
