{% set style = data.style %}
{% if data.mode == 'automatic' %}
  {% set meta = data.person_metadata %}
{% else %}
  {% set meta = data.manual_metadata %}
{% endif %}

{% if style != 'list' %}
  <div class="Feed-image">
    <div class="Feed-imageLink lazyload" data-bgset="{{post.photo[small]}}"></div>
  </div>
{% endif %}

<div class="Feed-body">
  <div class="Feed-name">
    <h4 class="brand">{{post.name}}</h4>
    {% if 'title' in meta %}
      <p>{{post.title}}</p>
    {% endif %}
  </div>

  {% if 'email' in meta or 'phone' in meta or 'social' in meta %}
  <div class="Feed-contact">
    {% if 'email' in meta %}
      <a href="mailto:{{post.email}}" class="brand">{{post.email|lower}}</a>
    {% endif %}
    {% if 'phone' in meta %}
      <p>{{post.phone}}</p>
    {% endif %}
    {% if 'social' in meta %}
      {% if post.facebook %}
        <a href="{{post.facebook}}" class="Feed-social">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
          </svg>
        </a>
      {% endif %}
      {% if post.twitter %}
        <a href="{{post.twitter}}" class="Feed-social">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
          </svg>
        </a>
      {% endif %}
      {% if post.instagram %}
        <a href="{{post.instagram}}" class="Feed-social">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
          </svg>
        </a>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}

  {% if 'bio' in meta %}
  <div class="Feed-bio">
    <h5>{{post.bio_title}}</h5>
    {{post.bio}}
  </div>
  {% endif %}
</div>

{% if 'bio' in meta %}
  <div class="Feed-bioFull">
    <h5>{{post.bio_title}}</h5>
    {{post.bio}}
  </div>
{% endif %}
