<script id="MediaObject" type="x-tmpl-mustache">
{% verbatim %}

{{#error}}
  <p class="Lead"><strong>{{error}}</strong></p>
{{/error}}
{{#empty}}
  <p class="Lead"><strong>{{empty}}</strong></p>
{{/empty}}
{{#title}}
<article class="Media">
  <div class="Media-head">
    <div class="Media-tag">
      <a href="" class="Pill">{{type}}</a>
    </div>
    <h4 class="Media-title"><a href="{{link}}">{{title}}</a></h4>
    <p class="meta">
      {{date}}
      {{#topics}}
        &nbsp;&#8226;&nbsp; Posted in {{topics}}
      {{/topics}}
    </p>
  </div>
  <div class="Media-body">
    <div class="Media-content">{{{teaser}}}</div>
    {{#image}}
    <div class="Media-image">
      <a href="{{link}}">
        <img src="{{image}}" alt="{{title}}">
      </a>
    </div>
    {{/image}}
  </div>
</article>
{{/title}}

{% endverbatim %}
</script>
