<ul class="Feed{% include 'utility/generate-classes.twig' with {'component' : 'Feed', 'options' : 'object-list'} %}">
  {% set options = data.options %}
  {% for id in data.people %}
    {% set person = TimberPost(id) %}
    <li class="Feed-item">
      {% if 'photo' in options %}
        <div class="Feed-left">
          <img class="Feed-image Feed-image--circular lazyload" data-srcset="{{person.get_field('photo')|first[square]}} 1x, {{person.get_field('photo')|first[square2x]}} 2x" alt="{{person.title}}">
        </div>
      {% endif %}
      <div class="Feed-right">
        <h4 class="h5">{{person.title}}</h4>
        <p class="meta">
          {% if 'title' in options and person.get_field('title') %}{{person.get_field('title')|title}}<br>{% endif %}
          {% if 'location' in options and person.get_field('location') %}{{person.get_field('location')|title}}<br>{% endif %}
          {% if 'email' in options and person.get_field('email') %}<a href="mailto:{{person.get_field('email')|lower}}">{{person.get_field('email')|lower}}</a><br>{% endif %}
          {% if 'phone' in options and person.get_field('phone') %}{{person.get_field('phone')|lower}}<br>{% endif %}
        </p>
      </div>
    </li>
  {% endfor %}
</ul>
