{% if prospective.cta_type == "single" %}
  {% set url = prospective.cta_single_url %}
{% elseif prospective.cta_type == "external" %}
  {% set url = prospective.cta_external_url %}
{% else %}
  {% set url = prospective.cta_search_url %}
{% endif %}
{% set image = prospective.image %}
<section class="prospective lazyload" data-bgset="{{image[xxlarge]}} [(min-width: {{xxl}})] | {{image[xlarge]}} [(min-width: {{lg}})] | {{image[large]}} [(min-width: {{md}})] | {{image[medium]}}">
  <div class="prospective-watermark">
    <svg aria-hidden="true" role="presentation" title="">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
    </svg>
  </div>
  <div class="container">
    <div class="prospective-wrapper">
      <div class="prospective-statement">
        <h1 class="h3 center">{{prospective.statement}}</h1>
        <div class="prospective-cta">
          <p class="center">{{prospective.cta}}</p>
          <a href="{{url}}" class="Button Button--outline Button--outline-light Button--small">{{prospective.label}}</a>
        </div>
      </div>
      <div class="prospective-links">
        {% for column in prospective.links|batch(5) %}
        <ul class="List">
          {% for link in column %}
            <li><a href="{{link.link}}" class="prospective-link">{{link.label}}</a></li>
          {% endfor %}
        </ul>
        {% endfor %}
      <div>
    </div>
  </div>
</section>
